$light-blue: rgb(224, 245, 253);
$normal-text: 20px;
$btn-hover: rgb(141, 221, 255);
$primary: rgb(0, 179, 255);;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: all 0.1s;
}

html {
  scroll-behavior: smooth;
}

input, textarea {
  border: none;
}

textarea:focus, input:focus{
  outline: none;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

select {
  border: none;
  outline: none;
}

/* ************ variables ************ */
  

/* ************ header ************ */
.main-header {
  background-color: $primary;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.main-header>h1 {
  color: white;
  letter-spacing: 3px;
  font-size: 40px;
}

.btn-logout {
  background-color: rgb(234, 249, 255);
  color: $primary;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 2px;
  letter-spacing: 1px;
}

.btn-logout:hover {
  background-color: $light-blue;
}





/* ************ login | signup ************ */
.background {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: $primary;
  width: 350px !important;
  border-radius: 10px;
  padding-bottom: 20px;
}

.heading {
  padding: 30px 0px;
}

.heading>h1 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: white;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}

.input:hover {
  background-color: rgb(245, 245, 245);
}

.input::placeholder {
  color: rgb(196, 196, 196);
}

.submit {
  background-color: white;
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 1px;
  color: $primary;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(231, 231, 231);
}

.register-link {
  color: $light-blue;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.register-link:hover {
  color: white;
  font-size: 15px;
}

.error {
  color: rgb(255, 0, 0);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
  animation: error 0.2s linear infinite alternate-reverse;
}

@keyframes error {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}





/* ************ orders ************ */
.orders {
  background-color: white;
  width: 100%;
  padding: 30px;
  height: calc(100vh - 80px);
}

.orders > .first {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orders > .first > .welcome {
  width: 60%;
  display: flex;
}

.btn-upload, .btn-manage {
  width: 300px;
}

.welcome > h1 {
  color: $primary;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn-upload > .btn, .btn-manage > .btn {
  width: 80%;
  background-color: $light-blue;
  color: $primary;
  padding: 10px 0px;
  font-size: $normal-text;
  letter-spacing: 1px;
  border-radius: 5px;
}

.btn:hover {
  background-color: $btn-hover;
  color: white !important;
}

.hide {
  display: none;
}

.second {
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 10px;
  padding: 0px 0px 20px 0px;
}

.first-row, .second-row {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.filter-label {
  background-color: $primary;
  padding: 10px 0px;
  width: 150px;
  color: white;
  border-radius: 10px 0px 0px 10px;
  font-size: $normal-text;
}

.filter-input {
  padding: 10px 20px;
  border-radius: 0px 10px 10px 0px;
  width: 270px;
  font-size: $normal-text;
}

.btn-filter {
  background-color: $primary;
  margin-left: 50px;
  width: 420px;
  border-radius: 10px;
  font-size: $normal-text;
  color: white;
}

.add-icon-container {
  background-color: $light-blue;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.third {
  margin-top: 50px;
}

#order_status {
  border: none;
  outline: none;
}

#order_status option {
  border: none;
  outline: none;
}

#order_status:focus {
  border: none;
}

/* ************ Pagination ************ */

.table-manage-btn {
  background-color: $primary;
  padding: 3px 5px;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}

.table-manage-btn:hover {
  background-color: rgb(60, 194, 251);
}

.paginationcustom .dropdown-menu {
  transform: translateX(500px) translateY(20px);
}

.paginationcustom .dropdown-menu .dropdown-item a {
  color: #404040 !important;
  width: 100%;
  display: inline-block !important;
  text-decoration: none !important;
  padding: .25rem 1.5rem !important;
}

.paginationcustom .dropdown-menu .dropdown-item a:hover {
  color: #404040 !important;
  text-decoration: none !important;
}

// ******************************************************


.bg-light-blue {
  --bs-bg-opacity: 1;
  background-color: $light-blue !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";